{
   "_id": "coconut.config",
   "title": "Coconut Clinic",
   "cloud": "localhost:5984",
   "local_couchdb_admin_username": "admin",
   "local_couchdb_admin_password": "password",
   "cloud_credentials": "repi:0fqURf04!MIG",
   "date_format": "YYYY-MM-DD",
   "datetime_format": "YYYY-MM-DD HH:mm:ss",
   "sync_mode": "couchdb-sync",
   "coconut_central_url": "https://kiwicentral.org/coconut-central-sijariemas/",
   "synchronization_target": "https://kiwicentral.org/coconut-sijariemas-test/",
   "coconut_forms_url": "https://kiwicentral.org/coconut-forms-sijariemas/"
}